<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <connectionStrings>
    <add name="AdventureWorksEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-22KHDFN\PACO;initial catalog=AdventureWorksDW2019;user id=paco;password=micasa123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>